@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  /*border: 1px solid #ddd;*/
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  /*outline: red solid 1px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}


.header .left-links {
  /*outline: greenyellow solid 1px; */
  display: flex;
  flex-direction: row;
  gap: 1.5rem;  
  padding: 16px;
}

.header .right-links {
  /*outline: greenyellow solid 1px;*/
  display: flex;
  flex-direction: row;
  gap: 1.5rem; 
  padding: 16px;
}

.header ul {
  list-style-type: none;
}

.content{
  /*outline: orchid solid 1px;*/
  display: flex;
  flex-direction: column;
}

.input{
  /*outline: rgb(112, 218, 209) solid 1px;*/
  display: flex;
  justify-content: center;
}

.buttons{
  /*outline: rgb(199, 218, 112) solid 1px;*/
  display: flex;
  justify-content: center;
}

/* creating space and making the padding around the buttons bigger */
button {
  padding: 10px 12px;
  margin: 2px;

}

/* put img in flex box to make sure it stays center as widow grows and shrinks. */
.picture {
  /*outline: purple solid 1px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  /*outline: purple solid 1px;/* Just a visual aid, can be removed */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  position: fixed; /* Fixed position so it sticks to the bottom */
  left: 0; /* Positioned at the left edge */
  bottom: 0; /* Positioned at the bottom edge */
  width: 100%; /* Takes up the full width of the viewport */
  background: #e0dfdfce; /* Background color for the footer */
}

footer ul {
  list-style-type: none;
}


footer .left-links, footer .right-links {
  padding: 1px;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;  
  padding: 16px;
}



